=============== 
Unity generated
===============
/Unity3DProject/HelloWorld/Library
/Unity3DProject/HelloWorld/Temp

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.sln
*.csproj
*.unityproj
*.booproj
*.dll
*.nlp

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
